---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import HeroProfilePicture from '~/components/widgets/HeroProfilePicture.astro';

const metadata = {
  title: 'Software Engineer',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'Resume', href: '#resume' },
        // { text: 'Blog', href: '#blog' },
        { text: 'Github', href: 'https://github.com/pylebecq' },
      ]}
      actions={[
        // {
        //   text: 'Hire me',
        //   href: '#',
        // },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <HeroProfilePicture
    id="hero"
    title="Pierre-Yves Lebecq"
    tagline="Software Engineer"
    picture="~/assets/images/me.jpg"
    actions={[{ variant: 'primary', target: '_blank', text: 'Hire me', href: '/' }]}
  >
    <Fragment slot="subtitle">
      I'm a Backend Software Engineer, passionate about solving problems. <br /> With 14 years of experience, I like to
      write clean, maintenable, and testable code, as well as delivering software empowering people.
    </Fragment>
  </HeroProfilePicture>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Senior Software Engineer <br /> <span class="font-normal">Riot Security, Paris, France</span> <br /> <span class="text-sm font-normal">2020 - Present</span>',
        description: `Collaborate with the product team to understand and help define product requirements. <br /> Contribute to the research and development of major features of the platform, such as the Awareness and Simulation modules. <br /> Establish guidelines and good practices in the engineering team. <br /> Mentor other developers during their onboarding, making sure they feel comfortable working on the project, and valued as members of the team.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Senior Software Engineer <br /> <span class="font-normal">Zenaton, Paris, France</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>',
        description: `First employee of the company. <br /> Contributed to the development of the Zenaton Engine, a workflow builder for developers, the Zenaton Agent, executing workflows in the customers' infrastructure, and also the associated web interface.<br /> Main contributor of the Zenaton SDK for PHP, and contributor of the Zenaton SDK for NodeJS.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Software Architect <br /> <span class="font-normal">Maisons du Monde, Paris, France</span> <br /> <span class="text-sm font-normal">2017 - 2018</span>',
        description: `Defined the technological transformations and improvements required by the upcoming projects of the company. <br /> Assisted the multiple engineering teams on highly technical issues. <br /> Contributed to the definition of best practices shared among the engineering teams, ensuring cohesion of all the software projects of the company.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Software Engineer <br /> <span class="font-normal">BlaBlaCar, Paris, France</span> <br /> <span class="text-sm font-normal">2015 - 2017</span>',
        description: `Contributed to the implementation, maintenance and monitoring of the payment providers required to monetize the 22 countries operated by the company. <br /> Took part in the implementation of reliable fraud detection systems, and reconciliation of inconsistent data. <br /> Joined to mobile team to introduce the first pieces of Swift code in the iOS application.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Software Engineer <br /> <span class="font-normal">SensioLabs, Maisons du Monde &amp; DISKO, Paris, France</span> <br /> <span class="text-sm font-normal">2010 - 2015</span>',
        description: `Joined SensioLabs, creator of the Symfony Framework for PHP. Acquired the SensioLabs Certified Symfony Developer (Expert) certification, and contributed to many projects as a consultant. <br />
        Joined Maisons du Monde as a Symfony 2.0 expert developer, in charge of starting the migration of the e-commerce website from symfony 1.4 to Symfony 2.0. <br />
        Joined DISKO and contributed to technical solutions for content websites and social media projects of DISKO's customers.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Steps>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `SensioLabs Certified Symfony Developer (Expert) <br /> <span class="text-sm font-normal">2012</span>`,
        icon: 'tabler:certificate',
      },
      {
        title: `Master of Information Technologies <br /> <span class="font-normal">Paris Graduate School of Digital Innovation</span> <br /> <span class="text-sm font-normal">2007 - 2009</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Information Technologies <br /> <span class="font-normal">Paris Graduate School of Digital Innovation</span> <br /> <span class="text-sm font-normal">2004 - 2007</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: '/',
      },
    ]}
  /> -->

  <!-- BlogLatestPost Widget **************** -->

  <!-- <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts> -->
</Layout>
